[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
termcolor = "*"
psutil = "*"
requests = "*"
maxminddb-geolite2 = "*"
rich = "*"

[dev-packages]

[requires]
python_version = "3.11"
